{% extends "top_bar_layout.html" %}

{% block body %} 

    <div class="container">

      <div class="starter-template">
        <h1>Want to create a game? lol owned not implemented yet.</h1>

        Lobby ID: {{lobby_id}} <br>



        Invite Friends
        <br>


        <form action = "{{ url_for('create_game',game_type=game_type) }}" method=post>
           
                {% if friends_list %}
                    {% set i = 1 %}
                    {% for friend in friends_list %}
                      {{friend}}  <input type="checkbox" name=friend_{{i}} value='{{friend}}' ><br>
                       {% set i = i+1%} 
                    {% endfor %}
                {% endif%} 
            <button type=submit >Start game 2</button>
        </form>


      
       
        <p class="lead">
      </div>

       {% if friends %}
      <div class="container">
        {% for friend in friends%}    
          {{friend}} <br>
        {% endfor %}                                             
      </div> 
    {% endif %}
      

    </div><!-- /.container -->

{% endblock %}





