{% extends "top_bar_layout.html" %}

{% block body %} 

 
    
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-4" id="caption_container"   >
              Members
            </div>
            <div class="col-xs-4" id="caption_container" >
              Invite friends 
            </div>
              <div class="col-xs-4" id="caption_container"  >
                {% if game_type == 2 %}
                  Two player lobby: {{lobby_id}}
                {% else %}
                  Four player lobby: {{lobby_id}}
                {% endif%}
                
              </div>
            </div>

            <div class="row" id="margin_row" >
              <div class="col-xs-4">
                {% set row_class = cycler('odd', 'even') %}
                  {% for member in lobby_members %} <!-- game[0] is the gameobject itself and game[1] is a list of opponents as User objects  -->
                    {% if member.status == "member"%}
                      <div class="row"> 
                        <div class="col-xs-12" id="row_{{ row_class.next() }}"  >
                          Email: {{member.user.email}} 
                        </div> 
                      </div>  
                    {% endif %}
                  {% endfor %}
                <div class="row">
                  <div class="col-xs-12" id="caption_container"  >
                    Invited
                  </div>
                </div>  
                {% for member in lobby_members %} <!-- game[0] is the gameobject itself and game[1] is a list of opponents as User objects  -->
                  {% if member.status == "invited"%}
                    <div class="row">    
                      <div class="col-xs-12" id="row_{{ row_class.next() }}" >
                        Email: {{member.user.email}} 
                      </div>
                    </div>    
                  {% endif %}
                {% endfor %}
                <div class="row">
                  <form action = "{{ url_for('lobby_state', game_type=game_type, lobby_id=lobby_id) }}" method=post>
                    <button type=submit class="btn btn-default" id="lobby_buttons" > Update State </button>
                  </form>
                </div> 
                 
              </div>
            





              
              <div class="col-xs-4">
                <form action = "{{ url_for('lobby_invite',game_type=game_type,lobby_id=lobby_id) }}" method=post>
                  {% if friends_list %}
                      {% set i = 1 %}
                      {% for friend in friends_list %}
                        <input type="checkbox" name=friend_{{i}} value='{{friend.id}}' > {{friend.email}}  <br>
                         {% set i = i+1%} 
                      {% endfor %}
                  {% endif%} 
                  <button type=submit class="btn btn-success" id="lobby_buttons" >Invite Friends</button>
                </form>
              </div>

              <div class="col-xs-4">

                <form action = "{{ url_for('start_game', game_type=game_type, lobby_id=lobby_id) }}" method=post>
                  {% for friend in accept_friends %}
                    {{friend}}  <input name=friend value='{{friend}}' hidden ><br>
                  {% endfor %}
                  <button type=submit class="btn btn-success" id="start_game_button"  > Start Game </button>
                </form> 

                <form action = "{{ url_for('remove_lobby', game_type=game_type, lobby_id=lobby_id) }}" method=post>
                  <button type=submit class="btn btn-danger"  id="remove_lobby_button" > Remove Lobby </button>
                </form> 

              </div>  
            </div>
 
          





        </div>
      </div>


      


        





      
       
          

 <!--

          <br>
          
          <div class="container" style="background-color:yellow;">
          <Strong>Membership status: </Strong> <br>
            {% for member in lobby_members %}    
               <b>Member:</b> {{member.user.email}}  <br>
               <b>Status:</b> {{member.status}}  <br>
               <br>
            {% endfor %}                                             
          </div> -->


        
        


      <!--
        <form action = "{{ url_for('lobby_list', game_type=game_type, lobby_id=lobby_id) }}" method=post>
          <button type=submit> Lobby List </button>
        </form> 
        <b>Game invitation from:</b>
        {% for lobby in lobby_list %}
          {% if lobby.owner.id !=  session['userId'] %}
            <form action = "{{ url_for('accept_invite', game_type=game_type, lobby_id=lobby_id) }}" method=post>
              <input name="invite_lobby_id" value='{{lobby.lobbyId}}' hidden ><br>
              LobbyId: {{lobby.lobbyId}} <br>
              {{lobby.owner.email}} <button name="accepted_invite" type=submit> Accept invite </button> <button name="declined_invite" type=submit> Decline </button>
            </form> 
          {% endif %}  
        {% endfor %} -->




{% endblock %}





