{% extends "top_bar_layout.html" %}

{% block body %} 

    <div class="container">

      <div class="starter-template">
        <h1>Want to create a game? lol owned not implemented yet.</h1>

        Lobby ID: {{lobby_id}} <br>



        Invite to Lobby:
        <br>


        <form action = "{{ url_for('lobby_invite',game_type=game_type,lobby_id=lobby_id) }}" method=post>
           
                {% if friends_list %}
                    {% set i = 1 %}
                    {% for friend in friends_list %}
                      {{friend.email}}  <input type="checkbox" name=friend_{{i}} value='{{friend.id}}' ><br>
                       {% set i = i+1%} 
                    {% endfor %}
                {% endif%} 
            <button type=submit >Invite Friends</button>
        </form>


      
       
          

 

          <br>
          
          <div class="container" style="background-color:yellow;">
          <Strong>Membership status: </Strong> <br>
            {% for member in lobby_members %}    
               <b>Member:</b> {{member.user.email}}  <br>
               <b>Status:</b> {{member.status}}  <br>
               <br>
            {% endfor %}                                             
          </div> 


        
        

        <form action = "{{ url_for('lobby_state', game_type=game_type, lobby_id=lobby_id) }}" method=post>
          <button type=submit> Update State </button>
        </form> 

      <!--
        <form action = "{{ url_for('lobby_list', game_type=game_type, lobby_id=lobby_id) }}" method=post>
          <button type=submit> Lobby List </button>
        </form> 
        <b>Game invitation from:</b>
        {% for lobby in lobby_list %}
          {% if lobby.owner.id !=  session['userId'] %}
            <form action = "{{ url_for('accept_invite', game_type=game_type, lobby_id=lobby_id) }}" method=post>
              <input name="invite_lobby_id" value='{{lobby.lobbyId}}' hidden ><br>
              LobbyId: {{lobby.lobbyId}} <br>
              {{lobby.owner.email}} <button name="accepted_invite" type=submit> Accept invite </button> <button name="declined_invite" type=submit> Decline </button>
            </form> 
          {% endif %}  
        {% endfor %} -->

        <form action = "{{ url_for('remove_lobby', game_type=game_type, lobby_id=lobby_id) }}" method=post>
          <button type=submit> Remove Lobby </button>
        </form> 

        <form action = "{{ url_for('start_game', game_type=game_type, lobby_id=lobby_id) }}" method=post>

        {% for friend in accept_friends %}
           {{friend}}  <input name=friend value='{{friend}}' hidden ><br>
        {% endfor %}

          <button type=submit> Start Game </button>
        </form> 

        </div>
    </div><!-- /.container -->

{% endblock %}





