{% extends "top_bar_layout.html" %}




{% block body %} 






    <div class="row">
      <div class="col-xs-12"  >
        <div class="row">

        </div>
        <div class="row">
          <div class="col-xs-4" ></div>
          <div class="col-xs-4" >
            Your Friends:
            <br>


            <form action = "{{ url_for('remove_friend') }}" method=post>
               
                    {% if friends_list %}
                        {% set i = 1 %}
                        {% for friend in friends_list %}
                          {{ friend.email }}  <input type="radio" name="friend" value='{{ friend.id }}' ><br>
                           {% set i = i+1%} 
                        {% endfor %}
                    {% endif%} 
                <button type="submit" id="remove_submit"   name="remove_friend" >Remove Selected Friend</button>
            </form>

            <form action="{{ url_for('add_friend') }}" class="form-inline"  method=post>
              <div class="form-group">
                <input class="form-control" id="email"  type="email" name="friend_email" placeholder="E-mail" >
                <button  class="btn btn-default" type=submit >Add Friend </button>
              </div> 
            </form>
          </div>
          <div class="col-xs-4" ></div> 
        </div>
      </div>
    </div>
       
      

      







{% endblock %}



