{% extends "top_bar_layout.html" %}




{% block body %} 






    <div class="row">
      <div class="col-xs-12"  >
       
        <div class="row">
          <div class="col-xs-4" ></div>
          <div class="col-xs-4" id="caption_container">
            Your Friends
          </div>
        </div>
        <div class="row">   
          <div class="col-xs-4" ></div>
          <div class="col-xs-4" >
            <form action = "{{ url_for('remove_friend') }}" method=post>
               
                    {% if friends_list %}
                        {% set i = 1 %}
                        {% for friend in friends_list %}
                          <input type="radio" name="friend" value='{{ friend.id }}' > {{ friend.email }}  <br>
                           {% set i = i+1%} 
                        {% endfor %}
                    {% endif%} 
                <button type="submit" id="remove_submit" class="btn btn-danger"   name="remove_friend" >Remove Selected Friend</button>
            </form>





          </div>
        </div>
        <div class="row" style="margin-top:10px;">
          <div class="col-xs-4" ></div>
          <div class="col-xs-4" >

            <form action="{{ url_for('add_friend') }}" class="form-inline"  method=post>
              <div class="input-group">
                <input class="form-control" id="email"  type="email" name="friend_email" placeholder="E-mail" >
                <span class="input-group-btn">
                  <button  class="btn btn-success btn-sm" type=submit style="height:34px;"  >Add Friend </button>
                </span>
              </div> 
            </form>



          </div>
          <div class="col-xs-4" ></div> 
        </div>
      </div>
    </div>
       
      

      







{% endblock %}



