
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/img/icon.pngs">

    <title>{% block title %}{% endblock %}Quizzing Bricks</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/static/css/top_bar_layout.css" rel="stylesheet">

    <!-- JQuery import in top to avoid Uncaught Reference error -->
        <script src="/static/assets/js/jquery.js"></script>
    

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    {% endblock %}
  </head>

{% set active_page = active_page|default('index') -%}
</ul>
  <body>
  {% block top_bar %}


<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container" id="top_bar_container" style="max-width:995px;">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Quizzing Bricks</a>
    </div>
    
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation" id="top_bar_nav" > 
      <!--  800 in order to make it collapse in a nice way -->        
      <ul class="nav navbar-nav">
        {% for href, id, caption in navigation_bar %}
          <li {% if id == active_page %} class="active"{% endif
          %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
        {% endfor %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/active_games">Active Games</a></li>
            <li><a href="/lobby_list">Lobby List</a></li>
            <li><a href="/friends_list">Friends List</a></li>
          </ul>
        </li> 
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Create Game<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/quick_join/2">Quickjoin 2p</a></li>
            <li><a href="/quick_join/4">Quickjoin 4p</a></li>
            <li><a href="/create_lobby/2">Create Game 2p</a></li>
            <li><a href="/create_lobby/4">Create Game 4p</a></li>
          </ul>
        </li>
      </ul>
      <ul id="navbar_right" class="navbar-form pull-right">

       {% if not session.logged_in %}
        <form action="{{ url_for('login') }}" class="form-inline"  method=post>
          <div class="form-group">
            <input class="form-control" type=email placeholder="E-mail" name=email>
          </div>
          <div class="form-group">
            <input type=password class="form-control" placeholder="Password" name=password>
          </div>
  
          <!--<div class="checkbox">
            <label>
              <input type="checkbox"> <font color=White>Remember me <font>     saving if we want to use later 
            </label>
          </div> -->
          <button  class="btn btn-success" type=submit value=Login >Login </button> 
        </form> 
        <div>
            <a href="/register_user">Register user</a> 
         </div> 
        {% else %}
         <form action="{{ url_for('logout') }}"  >
            <button  class="btn btn-default" type=submit  >Logout </button>  
          </form> 
        {% endif %}
          <!--<form action="{{ url_for('register_user') }}" >
            <button   class="btn btn-default"  > Register</button> 
          </form> -->
      </ul>   
    </nav>
  </div>
</header>




  {% endblock %}

  {% block default_body %}
           
    {% if error %}
      <div class="container">  
        <div id="alert_div" class="alert alert-danger">  
          <a class="close" data-dismiss="alert">×</a>  
          <strong>Warning!</strong> {{error}}                                             
        </div>  
      </div> 
    {% endif %}

  {% endblock %}  


  <div  id="body_container">
  {% block body %} {% endblock %}
  </div>




  <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  </script>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


    <script src="/static/js/bootstrap.min.js"></script> 

    {% block js_footer %}{% endblock %}
  </body>
</html>
